#event-table {
    table-layout: fixed;
}

#event-table tr th {
    padding: 2%;
    text-align: center;
    width: 10%;
}

#event-table tr td {
    word-wrap: break-word padding: 2%;
    text-align: center;
    width: 10%;
}

.table-button {
    width: 100%;
}

#date-table {
    table-layout: fixed;
}

#date-table th {
    vertical-align: center;
    text-align: center;
}

#date-table td {
    vertical-align: center;
    text-align: center;
}

.dateTimePicker {
    width: 100%;
}

#event-type-table {
    width: 100%;
}

.going {
    opacity: 0.5;
}

#viewDetailModal {
    max-height: 85%;
}

.min-width-one-six-one {
    min-width: 161px;
}

.min-width-one-six-six {
    min-width: 166px;
}

.min-width-one-forty {
    min-width: 140px;
}

#event-map {
    height: 100%;
}

.ng-invalid-pattern {
    color: #a94442;
}

#event-type-modify-table {
    overflow: auto;
    max-height: 300px;
}
