/*
 * Shared Styles
 */
.jumbotron .join-group-group-title {
  font-size: 4.5vw;
}

.jumbotron .join-group-group-members-title {
  font-size: 3vw;
}

.events-filter {
  float: right;
  width: 20vw;
}

.group-events-table {
  height: 30vh;

  border: 1px solid #ccc;
}

.group-events-table tbody tr { height: 10vh; }

.group-events-table td { cursor: pointer; }

.group-events-table tr.group-events-selected { background-color: #cfc; }

.group-events-table-user-attend-event { background-color: #dfdfff }

/*
 * Join Groups Tab Styles
 */

#join-group-map-modal-container {
  margin: 2%;
}

#join-group-events-table th { width: 15vw; }

#join-group-events-table td { width: 15vw; }

#join-group-events-map {
  margin-left: 20%;

  width: 60%;
  height: 50%;
}

#join-group-map-modal-button { margin-top: 1%; }

/*
 * Create Groups Tab Styles
 */

#create-group-events-table th { width: 15vw; }

#create-group-events-table td { width: 15vw; }

#create-group-button {
  margin-top: 2%;
  margin-bottom: 2%;
}

#create-group-events-map {
  margin-top: 1%;
  margin-bottom: 1%;
}

