<div>Event Page</div>

<div class="container">
	<h2 class="title">Events</h2>
	
		<div id="eventSearchBar" class="tab-pane fade in active">
			<form class="form-signin" ng-submit="ctrl.searchEvents()" name="searchEvents" role="form">
				<div>
				    <label for="inputSearch" class="sr-only">Search</label>
				    <input type="text" name="search" data-ng-model="ctrl.searchTarget" id="inputSearch" class="form-control" placeholder="Find an Event" required autofocus>
				</div>

	{{ctrl.searchTarget}}

</div> <!-- /container -->
<!-- ng-disabled="registerUser.$invalid || ctrl.dataLoading" -->