<div class="container">
  <h2 class="title">Groups</h2>

  <ul class="nav nav-tabs nav-justified">
    <li class="active" ng-click="ctrl.joinTabActive()">
      <a data-toggle="tab" data-target="#group-list">Join Groups</a>
    </li>
    <li ng-click="ctrl.initCreateTab('create-group-events-map')"
          tooltip-enable="ctrl.getAccType() != 0"
          tooltip-placement="top-right"
          uib-tooltip="Only Users can Go To Events and Create Groups!"
      id="create-group-tab">
      <a data-toggle="tab" data-target="#group-create">Create Group</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="group-list" class="tab-pane fade in active">  
      <div ng-repeat="group in groups" class="jumbotron">
        <div class="row">
          <div class="col-md-7 join-group-jumbotron-detail-container">
            <h1 class="join-group-group-title"
              data-ng-model="group.groupName">
              {{ group.groupName }}
            </h1>

            <p data-ng-model="group.description">
              {{ group.description }}
            </p>
            <p>
              <a class="btn btn-primary btn-lg ng-hide"
                href="" role="button" ng-show="!group.editing"
                ng-disabled="ctrl.getAccType() != 0"
                tooltip-enable="ctrl.getAccType() != 0"
                tooltip-placement="bottom-right"
                uib-tooltip="Only Users can Go To Events and Join Groups!"
                ng-click="ctrl.getAccType() != 0 ||
                  ctrl.showJoinGroupsMapModal(
                    'join-group-events-map', group
                  )">
                Join/Leave Group</a>
            </p>
            <p>
              <a class="btn btn-warning btn-lg ng-hide"
                href="" role="button"
                ng-click="ctrl.showEditGroupModal(group)"
                ng-show="group.editing">
                Edit</a>
            </p>
            <p>
              <a class="btn btn-danger btn-lg ng-hide"
                href="" role="button"
                ng-click="ctrl.deleteGroup(group)"
                ng-show="group.editing">
                Delete</a>
            </p>
          </div><!-- join-group-jumbotron-detail-container -->

          <div class="col-md-5 join-group-jumbotron-members-container">
            <p class="join-group-group-members-title">
              Users Going With this Group
            </p>
            <table class="table table-condensed">
              <tr>
                <th>User</th>
                <th>Going to Event</th>
                <th>Event Start</th>
              </tr>
              <tr ng-repeat="event in group.events |
                limitTo: userGoesEventsPerGroupLimit">
                <td>{{ event.email }}</td>
                <td>{{ event.eventName }}</td>
                <td>{{ event.timeStart }}</td>
              </tr>
            </table>
            <div
              ng-if="group.events.length - userGoesEventsPerGroupLimit > 0">
              and {{ group.events.length - userGoesEventsPerGroupLimit }}
              more...
            </div>
          </div><!-- join-group-jumbotron-members-container -->
        </div><!-- row -->

        <toggle-switch data-ng-model="group.editing"
          on-label="Edit" off-label="View" ng-show="ctrl.getAccType() == 2">
          Edit
        </toggle-switch>
      </div><!-- jumbotron -->
    </div><!-- tabpane -->

    <div id="group-create" class="tab-pane fade">
      <form class="form-signin" name="createGroup" role="form"
        id="create-group-form"
        ng-submit="ctrl.getAccType() != 0 || ctrl.createGroup()">

        <fieldset ng-disabled="ctrl.getAccType() != 0">

        <div class="form-group" ng-class="{
          'has-error': createGroup.name.$dirty &&
          (createGroup.name.$error.required
          || createGroup.name.$invalid)}">
          <label for="inputName" class="sr-only">Group Name</label>
          <input type="name" name="name" data-ng-model="ctrl.newGroup.name"
            id="input-name" class="form-control"
            placeholder="Group Name" required autofocus>
          <span ng-show="createGroup.name.$dirty &&
            (createGroup.name.$error.required
            || createGroup.name.$invalid)"
            class="help-block">Valid Group Name is Required</span>
        </div>

        <div class="form-group" ng-class="{
          'has-error': createGroup.description.$dirty
          && createGroup.description.$error.required}">
          <label for="inputDescription" class="sr-only">
            Group Description</label>
          <textarea type="description" name="description" rows="5"
            data-ng-model="ctrl.newGroup.description"
            id="textarea-description" class="form-control"
            placeholder="Group Description" required>
            </textarea>
          <span ng-show="createGroup.description.$dirty
            && createGroup.description.$error.required"
            class="help-block">Group Description is Required</span>
        </div>

        <div class="form-group events-filter">
          <label for="eventsFilter" class="sr-only">
            Filter Events
          </label>
          <input type="filter" name="eventsFilter"
            data-ng-model="eventsFilter"
            id="events-filter-input" class="form-control"
            placeholder="Filter Events" autofocus>
        </div>
 
        <label for="create-group-events-table"
          id="create-group-events-table-label">
          Create Group For Attending Events</label>
        <table fixed-header class="table group-events-table"
         id="create-group-events-table" name="create-group-events-table">
          <thead>
            <tr>
              <th>Event Name</th>
              <th>Time Start</th>
              <th>Time End</th>
              <th>Cost</th>
              <th>Category(ies)</th>
              <th>Attending Event?</th>
              <th>Go With Group?</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="e in events
                           | filter: eventsFilter
                           | orderBy: '-selected'
                           | orderBy: '-attendPreference'"
              ng-class=
                "{ 'group-events-table-user-attend-event': e.attending }"
              selection-model
              selection-model-type="checkbox"
              selection-model-mode="multiple-additive"
              selection-model-selected-items="ctrl.newGroup.withEvents"
              selection-model-on-change="ctrl.eventsChanged(e)"
              selection-model-ignore="ctrl.getAccType() != 0"
              selection-model-selected-class="group-events-selected">
              <td>{{ e.eventName }}</td>
              <td>{{ e.timeStart }}</td>
              <td>{{ e.timeEnd }}</td>
              <td>{{ e.cost | currency }}</td>
              <td>{{ e.category }} {{ e.remaining }}</td>
              <td>{{ e.attendPreference }}</td>
              <td><input type="checkbox" /></td>
            </tr>
          </tbody>
        </table>

        <ng-map id="create-group-events-map"
          center="[0,0]" zoom-to-include-markers="auto"
          scrollwheel="false"
          lazy-init="true" default-style="true">
            <marker ng-repeat="e in events | filter: {selected: 'true'}"
              position="{{e.lat}}, {{e.lon}}"></marker>
        </ng-map>

        <button class="btn btn-lg btn-block btn-success" type="submit"
          id="create-group-button" ng-bind="createButton"
          ng-disabled="ctrl.getAccType() != 0
                       || createGroup.$invalid
                       || ctrl.dataLoading">
        </button>

        </fieldset>
      </form>
    </div> <!-- tabpane -->
  </div> <!-- tabcontent -->
</div>
