<div class="container">
	<h2 class="blog-title">Log In</h2>

	<form class="form-signin" action="" method="post">
	    <label for="inputEmail" class="sr-only">Email address</label>
	    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	    <label for="inputPassword" class="sr-only">Password</label>
	    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    	
    	<button class="btn btn-lg btn-block btn-blog" type="submit">Sign in</button>
    	<hr class="href-divider">
		<a href="#/Register"><p class="text-href">Register as a new user</p></a>
	</form>
</div> <!-- /container -->
