<div class="container">
  <h2 class="title">Account</h2>

  <ul class="nav nav-tabs nav-justified">
    <li ng-if="ctrl.getAccType() == 0">
      <a data-toggle="tab" data-target="#userInfo">Upcoming Events</a>
    </li>
    <li ng-if="ctrl.getAccType() == 0">
      <a data-toggle="tab" data-target="#invitation">Invitation</a>
    </li>
    <li ng-if="ctrl.getAccType() == 1">
      <a data-toggle="tab" data-target="#provider-profile">
        My Events Statistics</a>
    </li>
    <li><a data-toggle="tab" data-target="#profile">Profile</a></li>
    <li><a data-toggle="tab" data-target="#password">Password</a></li>
  </ul>

  <div class="tab-content">
    <div id="userInfo" class="tab-pane fade in active">
      <div infinite-scroll='ctrl.getEvents()'
           infinite-scroll-disabled='ctrl.eveEndOfResult'
           infinite-scroll-distance='3'>
        <div ng-repeat='event in ctrl.events'>
          <div class="row">
            <div class="col-md-8">
              <h3> {{event.eventName}} </h3>
              <p>
                Cost: ${{event.cost}}<br>
                Event Type: {{event.eventType}}<br>
                Time: {{event.timeStart}} - {{event.timeEnd}}<br>
                {{event.message}}<br>
                {{event.description}}
              </p>
            </div>

            <div class="col-md-4">
              <h3>Group</h3>
              {{event.groupName}}
            </div>
          </div>

          <hr>
        </div>

        <div ng-show="ctrl.eveEndOfResult" class="jumbotron center">
          End Of Invitations
        </div>
      </div>
    </div> <!-- tabpane -->

    <div id="invitation" class="tab-pane fade">
      <div infinite-scroll='ctrl.getInvitations()'
           infinite-scroll-disabled='ctrl.invEndOfResult'
           infinite-scroll-distance='3'>
        <div ng-repeat='invitation in ctrl.invitations'>
          <div class="row">
            <div class="col-md-9">
              <p> From: {{invitation.email}} </p>
              <p>
                {{invitation.eventName}}<br>
                Cost: ${{invitation.cost}}<br>
                Event Type: {{invitation.eventType}}<br>
                Time: {{invitation.timeStart}} - {{invitation.timeEnd}}<br>
                {{invitation.message}}<br>
                {{invitation.description}}
              </p>
            </div>

            <div class="col-md-3">
              <button type="button" class="btn btn-primary custom-button"
                ng-disabled="this.loadingAttend"
                ng-show="invitation.going==0"
                ng-click="ctrl.signUpForEvent(invitation)">
                Go!
              </button>
              <button type="button" class="btn btn-primary custom-button"
                ng-disabled="this.loadingAttend"
                ng-show="invitation.going==1"
                ng-click="ctrl.cancelSignup(invitation)">
                Cancel Go!
              </button>
            </div>
          </div>

          <hr>
        </div>

        <div ng-show="ctrl.invEndOfResult" class="jumbotron center">
          End Of Invitations
        </div>
      </div>
    </div> <!-- tabpane -->

<!-- Start of Provider Profile -->
    <div id="provider-profile" class="tab-pane fade"
      ng-controller="providerCtrl as ctrl">

  <h3 id="events-view-toggle-label">View By:</h3>
  <toggle-switch data-ng-model="typeView"
    ng-change="ctrl.viewChanged()"
    on-label="By Type" off-label="By Event">
  </toggle-switch>

  <div ng-show="!typeView">
    <h4>Your Events</h4>
    <table fixed-header class="table profile-events-table"
     id="profile-provider-events-table"
     name="profile-provider-events-table">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Time Start</th>
          <th>Time End</th>
          <th>Cost</th>
          <th>Number of Attendees</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="e in events
                       | orderBy: 'eventName'
                       | orderBy: '-numUsers'">
          <td>{{ e.eventName }}</td>
          <td>{{ e.timeStart }}</td>
          <td>{{ e.timeEnd }}</td>
          <td>{{ e.cost | currency }}</td>
          <td>{{ e.numUsers }}</td>
        </tr>
      </tbody>
    </table>

    <h4>Users for Your Events</h4>
    <table fixed-header class="table profile-user-table"
      id="profile-provider-user-table"
      name="profile-provider-user-table">
      <thead>
        <tr>
          <th>User</th>
          <th>Attending Events Count</th>
          <th>Attending All Events?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users
                       | orderBy: 'email'
                       | orderBy: '-numEvents'">
          <td>{{ user.email }}</td>
          <td>{{ user.numEvents }}</td>
          <td>{{ (user.attendAll)? "Yes" : "No" }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="typeView">
    <h4>Your Events By Type</h4>
    <table fixed-header class="table profile-events-by-type-table"
     id="profile-provider-events-by-type-table"
     name="profile-provider-events-by-type-table">
      <thead>
        <tr>
          <th>Event Type</th>
          <th>Events Count</th>
          <th>Average Attendees Per Event of Type</th>
          <th>Total Number of Attendees</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="type in types
                       | orderBy: '-eventTypeId'
                       | orderBy: '-totalUsers'">
          <td>{{ type.category }}</td>
          <td>{{ type.numEvents }}</td>
          <td>{{ type.avgUsers }}</td>
          <td>{{ type.totalUsers }}</td>
        </tr>
      </tbody>
    </table>

    <div class="btn btn-info btn-lg" role="button"
      ng-click="ctrl.showMinMax()">
      Get Highlights
    </div>
  </div>
    </div> <!-- tabpane -->
<!-- End of Provider Profile -->
  
    <div id="profile" class="tab-pane fade">
      <form class="form-signin" ng-submit="ctrl.updateProfile()"
        name="userProfile" role="form">

        <div class="form-group"
          ng-class=
            "{
               'has-error': userProfile.firstName.$dirty
                            && userProfile.firstName.$error.required
             }">
          <label for="updateFirstName">First Name</label>
          <input type="text" name="firstName" id="updateFirstName"
            data-ng-model="ctrl.firstName" class="form-control"
            placeholder="First Name" required>
          <span class="help-block"
            ng-show="userProfile.firstName.$dirty
                     && userProfile.firstName.$error.required">
            First Name is required</span>
        </div>

        <div class="form-group"
          ng-class=
            "{
               'has-error': userProfile.lastName.$dirty
                            && userProfile.lastName.$error.required
             }">
          <label for="updateLastName">Last Name</label>
          <input type="text" name="lastName" id="updateLastName"
            data-ng-model="ctrl.lastName" class="form-control"
            placeholder="Last Name" required>
          <span class="help-block"
            ng-show="userProfile.lastName.$dirty
                     && userProfile.lastName.$error.required">
            Last Name is required</span>
        </div>

        <div class="form-group"
          ng-class=
            "{
               'has-error': userProfile.phone.$dirty
                            && (userProfile.phone.$error.required
                                || userProfile.phone.$invalid)
             }">
          <label for="updatePhone">Phone Number</label>
          <input type="tel" name="phone" id="updatePhone"
            data-ng-model="ctrl.phone" class="form-control"
            placeholder="Phone Number" required>
          <span class="help-block"
            ng-show="userProfile.phone.$dirty
                     && userProfile.phone.$error.required">
            Valid Phone Number is required</span>
        </div>

        <div ng-hide="ctrl.getAccType() == 1" class="form-group"
          ng-class=
            "{
               'has-error': userProfile.age.$dirty
                            && (userProfile.age.$error.required
                                || userProfile.age.$invalid
                                || ctrl.checkAge())
             }">
          <label for="updateAge">Age</label>
          <input type="number" name="age" id="updateAge"
            data-ng-model="ctrl.age" class="form-control"
            placeholder="Age"
            ng-required="ctrl.getAccType() == 0">
          <span class="help-block"
            ng-show="userProfile.age.$dirty
                     && (userProfile.age.$error.required
                         || userProfile.age.$invalid
                         || ctrl.checkAge())">
            Valid Age is required</span>
        </div>
		    	
        <button class="btn btn-lg btn-block btn-blog" type="submit"
          ng-disabled="userProfile.$invalid || ctrl.dataLoading">
          Update Profile
        </button>
        <hr class="href-divider">
      </form>
    </div> <!-- tabpane -->

    <div id="password" class="tab-pane fade">
      <form class="form-signin" ng-submit="ctrl.updatePassword()"
        name="userPassword" role="form">
        <div class="form-group"
          ng-class=
            "{
               'has-error': userPassword.oldPassword.$dirty
                            && userPassword.oldPassword.$error.required
             }">
          <label for="updateOldPassword">Old Password</label>
          <input type="password" name="oldPassword"
            data-ng-model="ctrl.oldPassword" id="updateOldPassword"
            class="form-control" placeholder="Old Password" required>
          <span class="help-block"
            ng-show="userPassword.password.$dirty
                     && userPassword.password.$error.required">
            Password is required</span>
        </div>

        <div class="form-group"
          ng-class=
            "{
               'has-error': userPassword.newPassword.$dirty
                            && userPassword.newPassword.$error.required
             }">
          <label for="updateNewPassword">New Password</label>
          <input type="password" name="newPassword"
            data-ng-model="ctrl.newPassword" id="updateNewPassword"
            class="form-control" placeholder="New Password" required>
          <span class="help-block"
            ng-show="userPassword.newPassword.$dirty
                     && userPassword.newPassword.$error.required">
            Password is required</span>
        </div>

        <div class="form-group"
          ng-class=
            "{
               'has-error': userPassword.rePassword.$dirty
                            && userPassword.rePassword.$error.required
             }">
          <label for="updateRePassword">Re New Password</label>
          <input type="password" name="rePassword" id="updateRePassword"
            data-ng-model="ctrl.rePassword" class="form-control"
            placeholder="Re-New Password" required>
          <span class="help-block"
            ng-show="userPassword.rePassword.$dirty
                     && userPassword.rePassword.$error.required">
            Re-Password is required</span>
        </div>
		    	
        <button class="btn btn-lg btn-block btn-blog" type="submit"
          ng-disabled="userPassword.$invalid || ctrl.dataLoading">
          Update Password
        </button>
        <hr class="href-divider">
      </form>
    </div> <!-- tabpane -->
  </div> <!-- tab-content -->
</div> <!-- /container -->
